[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    venv,
    env,
    ENV,
    .venv,
    staticfiles,
    uploads,
    logs,
    build,
    dist,
    *.egg-info
ignore = 
    E203,
    E266,
    E501,
    W503,
    E722
max-complexity = 10
