<link rel="icon" href="/images/favicon/f16.webp" sizes="16x16"
      type="image/png"/>
<link rel="icon" href="/static/images/favicon/f32.webp" sizes="32x32"
      type="image/png"/>
<link rel="icon" href="/static/images/favicon/f96.webp" sizes="96x96"
      type="image/png"/>
<link rel="apple-touch-icon" sizes="180x180"
      href="/static/images/favicon/apple-touch-icon.webp">
<link rel='stylesheet' id='style-css' href='/static/style.css' media='all'/>
<script src="/static/js/jquery.min.js" id="jquery-js"></script>
<meta name="theme-color" content="#142636" id="theme-color"/>
