{% extends '_base.html' %}
{% load static %}
{% block title %}{{ app.title }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'notyf.min.css' %}">{% endblock %}
{% block seo %}
    {% include 'application/includes/seo_detail.html' %}
{% endblock %}
{% block content %}
    <div class="toolbar">
        <button class="sel-dark-toggle" id="toggle-darkmod">
            <svg class="i__moon" width="24" height="24">
                <use xlink:href="#i__moon"></use>
            </svg>
            <svg class="i__sun" width="24" height="24" style="display: none">
                <use xlink:href="#i__sun"></use>
            </svg>
        </button>
    </div>
    <div class="wrp-min speedbar">
        <div class="speedbar-panel">
        <span>
          <span>
            <a href="/static">خانه</a>
          </span>
          »
          <span>
            <a href="/apps/games/">بازی ها</a>
          </span>
          »
          <span class="breadcrumb_last" aria-current="page">
            دانلود بازی {{ app.title }}
          </span>
        </span>
        </div>
    </div>
    <article class="view-app" id="{{ app.id }}">
        <div class="view-app-head dark-head dark-section">
            <div class="wrp-min">
                <h1 class="title">دانلود بازی {{ app.title }}</h1>
                <div class="view-app-main ignore-select">
                    <div class="view-app-img">
                        <figure class="img">
                            <div class="entry-app">
                                {% if app.is_update %}
                                    <span class="label label-up">آپدیت</span>
                                {% endif %}
                                {% if app.is_online %}
                                    <span class="label label-up left">آنلاین</span>

                                {% endif %}
                                {% if app.is_new %}
                                    <span class="label label-up left bottom">جدید</span>
                                {% endif %}
                                {% if app.is_free %}
                                    <span class="label label-free right free">رایگان</span>
                                {% endif %}
                            </div>
                            <img src="{{ app.icon.url }}" alt="{{ app.title }}" width="240" height="240"/>
                        </figure>
                    </div>
                    <div class="view-app-data">
                        <div class="specs-list">
                            <ul>
                                <li class="specs-item">
                                    <i class="spec-icon c-green">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__update"></use>
                                        </svg>
                                    </i>
                                    <span class="spec-label">آپدیت</span>
                                    <time class="spec-cont">{{ app.jalali_update_date }}</time>
                                </li>
                                <li class="specs-item">
                                    <i class="spec-icon c-green">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__vers"></use>
                                        </svg>
                                    </i>
                                    <span class="spec-label">نسخه</span>
                                    <span class="spec-cont">{{ app.version }}</span>
                                </li>
                                <li class="specs-item">
                                    <i class="spec-icon c-green">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__android"></use>
                                        </svg>
                                    </i>
                                    <span class="spec-label">اندروید</span>
                                    <span class="spec-cont">{{ app.android_version }}</span>
                                </li>
                                <li class="specs-item">
                                    <i class="spec-icon c-green">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__cat"></use>
                                        </svg>
                                    </i>
                                    <span class="spec-label">دسته</span>
                                    <span class="spec-cont">
                                        <a href="{% url 'softwares_category' app.main_caregory.slug %}"
                                           rel="tag">{{ app.main_caregory.category }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-app-rate">
                            {% csrf_token %}
                            <div class="likes" id="app-likes" data-id="11">
                                <a href="#" data-action="like">
                                    <span class="like-plus">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__thumbup"></use>
                                        </svg>
                                        +
                                        <span>{{ app.appslikesmodel_set.count }}</span>
                                    </span>
                                    <span class="sr-only">لایک</span>
                                </a>
                                <a href="#" data-action="dislike">
                                    <span class="like-minus">
                                        <svg width="24" height="24">
                                            <use xlink:href="#i__thumbdown"></use>
                                        </svg>
                                        -
                                        <span>{{ app.appsdislikesmodel_set.count }}</span>
                                        <span class="sr-only">دیس لایک</span>
                                    </span>
                                </a>
                            </div>
                            <ul class="rate-nums muted">
                                <li>رای: <span id="vote-num-id-11"></span></li>
                                <li>نظر: {{ comments_count }}</li>
                            </ul>
                            <div class="popularity">
                                <div class="popularity-number">
                                    <div class="rating_status">
                                        <div class="rating_progress_bar" title="درصد محبوبیت">
                                            <b>محبوبیت 100%</b>
                                            <span style="width: 100%">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-lg btn-icon s-green anchor" href="#download-block">
                                <svg width="24" height="24">
                                    <use xlink:href="#i__getapp"></use>
                                </svg>
                                دانلود
                            </a>
                            <span class="btn btn-lg btn-border btn-complaint">
                                <a href="#dle-comments-form">گزارش آپدیت</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="block b-screens">
                    <div class="b-icon-title">
                        <i class="s-yellow c-icon">
                            <svg width="24" height="24">
                                <use xlink:href="#i__cam"></use>
                            </svg>
                        </i>
                        <h3 class="b-title">اسکرین شات ها</h3>
                    </div>
                    <div class="b-cont">
                        <div class="screenshots">
                            {% for screenshot in app.applicationscreenshotmodel_set.all|slice:":4" %}
                                <a href="{{ screenshot.screenshot.url }}">
                                    <img style="max-width: 100%" src="{{ screenshot.screenshot.url }}"
                                         alt="{{ app.title }}"/>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="background" style="display: none">
                <div class="bg-img-blur">
                    <i class="fit-cover">
                        <img src="{{ app.icon.url }}" alt="{{ app.title }}" width="10" height="10"/>
                    </i>
                </div>
                <i class="bg-circle-green"></i>
                <i class="bg-clouds">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2550 700" width="2550" height="700">
                        <path fill="#142636"
                              d="M554,100h-4A50,50,0,0,1,550,0h4a50,50,0,0,1,0,100Zm25,600H50a50,50,0,0,1,0-100h78.08a50,50,0,1,0,.11-100H98a50,50,0,0,1,0-100H238a50,50,0,0,0,0-100H194a50,50,0,0,1,0-100h56a50,50,0,0,0,.3-100H238A50,50,0,0,1,238,0H430a50,50,0,0,1,0,100H413.55a50,50,0,1,0,.05,100H630a50,50,0,0,1,0,100H521.55a50,50,0,1,0,0,100H526a50,50,0,0,1,0,100H445.55a50,50,0,0,0,.08,100H579a50,50,0,0,1,0,100Z"></path>
                        <path fill="#142636"
                              d="M2073,700a50,50,0,0,1,0-100h16.43a50,50,0,0,0,0-100H1901a50,50,0,0,1,0-100h216.42a50,50,0,0,0,0-100H2097a50,50,0,0,1-50-50h0a50,50,0,0,1,50-50h252a50,50,0,0,1,0,100h-28a50,50,0,0,0,0,100h24a50,50,0,0,1,0,100h-24a50,50,0,0,0,0,100h179a50,50,0,0,1,0,100Z"></path>
                    </svg>
                </i>
            </div>
        </div>
        <div class="wrp-min block-list">
            <div class="block b-add-info">
                <div class="b-tabs" role="tablist">
                    <a class="tab-item active" href="#app_description">توضیحات</a>
                    <a class="tab-item" href="#app_information">اطلاعات</a>
                    <a class="tab-item" href="#app_faq">کمک</a>
                </div>
                <div class="b-cont tab-content">
                    <div class="tab-pane text" id="app_description" style="display: block">
                        <p>{{ app.content }}</p>
                    </div>
                    <div class="tab-pane text" id="app_information" style="display: none">
                        <ul>
                            <li>سازنده: {{ app.creator }}</li>
                            <li>امتیاز: {{ app.score }}</li>
                            <li>رای: 61046091</li>
                            <li>دانلود: {{ app.download_count }}+</li>
                            <li>رده سنی: {{ app.ages }}</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="app_faq" style="display: none">
                        {% for help in helps %}
                            <a class="link-faq" href="{% url 'help_detail' slug=help.slug %}">{{ help.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="anchor-line"><span id="download-block"></span></div>
            <div class="block b-download">
                <div class="b-nobugs">
                    <div class="b-nobugs-icon">
                        <figure class="img">
                            <img src="{{ app.icon.url }}" alt="{{ app.title }}" width="44" height="44"/>
                        </figure>
                        <i class="c-green">
                            <svg width="24" height="24">
                                <use xlink:href="#i__shield"></use>
                            </svg>
                        </i>
                    </div>
                    <div class="b-nobugs-text">
                        <span>دانلود بازی {{ a }} با لینک مستقیم</span>
                    </div>
                </div>
                <div class="b-cont">
                    <div class="downline-line-list">
                        {% if app.link_description %}
                            <p>{{ app.link_description }}</p>
                        {% endif %}
                        {% for link in app.applicationlinkmodel_set.all %}
                            {% if link.is_active %}
                                <a href="{% url 'download_app' link.slug %}" class="download-line {{ link.color }}">
                                    <div class="download-line-title">
                                        <i>
                                            <svg width="24" height="24">
                                                <use xlink:href="#i__getapp"></use>
                                            </svg>
                                        </i>
                                        <span>{{ link.title }}</span>
                                    </div>
                                    <span class="download-line-size">
                                        Download 
                                        <span class="uppercase">
                                        apk
                                        </span> 
                                        - 
                                        {{ link.volume }}
                                    </span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if app.link_information %}
                        <div class="spoiler">
                            <div class="title_spoiler">
                                <a href="#">
                                    <img id="image-sp_info" src="/images/spoiler-plus.webp" width="24"
                                         height="24" alt=""/>
                                    <span class="sr-only">Show/Hide</span>
                                </a>
                                اطلاعات
                            </div>
                            <div id="sp_info" class="text_spoiler" style="display: none">
                                <p>{{ app.link_information }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if not user.is_authenticated %}
                <div class="alert-line">
                    <div class="wrp-min">
                        <i class="i__info">
                            <svg width="24" height="24">
                                <use xlink:href="#i__info"></use>
                            </svg>
                        </i>
                        <div class="alert-cont">
                            برای ارسال نظر ابتدا وارد حساب کاربری خود شوید یا
                            <a href="/register" target="/_blank/" rel="/nofollow/">ثبت نام</a>
                            کنید.
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="block b-comments">
                <div class="b-head">
                    <h3 class="section-title">
                        <i class="s-purple c-icon">
                            <svg width="24" height="24">
                                <use xlink:href="#i__coms"></use>
                            </svg>
                        </i>
                        {{ comments_count }} نظر
                    </h3>
                    {% if user.is_authenticated %}
                        <a href="#dle-comments-form" class="btn s-green btn-all anchor">
                            <span>ارسال نظر</span>
                            <svg width="24" height="24">
                                <use xlink:href="#i__keyright"></use>
                            </svg>
                        </a>
                    {% endif %}
                </div>

                {% if comments_count != 0 %}
                    <div class="b-cont">
                        <div id="dlemasscomments">
                            <div id="dle-comments-list">
                                <div id="dle-ajax-comments"></div>
                                <div id="comment"></div>
                                <ol class="comments-tree-list">
                                    {% for comment in comments %}
                                        <li id="{{ comment.user }}-{{ comment.id }}" class="comments-tree-item">
                                            <div>
                                                <div class="comment {% if comment.user.is_staff %} add-comm

                                                    {% else %}{% if comment.appscommentslikemodel_set.count == comment.appscommentsdislikemodel_set.count %} {% elif comment.appscommentslikemodel_set.count >= comment.appscommentsdislikemodel_set.count %}pos-comm{% else %}neg-comm{% endif %} {% endif %} guest-view-com"
                                                     id="comment-{{ comment.id }}">
                                                    <div class="comment-head">
                                                        <div class="avatar-status">
                                                            <i class="avatar fit-cover">
                                                                <a href="{% url 'public_profile_page' comment.user.username %}">
                                                                    <img
                                                                            {% if comment.user.avatar %}
                                                                                src="{{ comment.user.avatar.image.url }}"
                                                                            {% else %}
                                                                                src="{% static 'images/noavatar.webp' %}"
                                                                            {% endif %}
                                                                                alt="{{ comment.user }}"
                                                                                loading="lazy">
                                                                </a>
                                                            </i>
                                                        </div>
                                                        <span class="name truncate">
                                                        <a href="{% url 'public_profile_page' comment.user.username %}">{{ comment.user }}</a>
                                                    </span>
                                                        <div class="comment-meta">
                                                            {% if comment.user.is_staff %}
                                                                <span class="group-label g-user">مدیر</span>
                                                            {% else %}
                                                                <span class="group-label g-user">عضو</span>
                                                            {% endif %}
                                                            <time class="date c-muted" datetime="2023-01-27T08:28">
                                                                {{ comment.send_date }}
                                                            </time>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <div id="comm-id-198045">{{ comment.text }}</div>
                                                    </div>
                                                    <div class="comment-foot">
                                                        {% if user.is_authenticated %}
                                                            <ul class="comment-tools">
                                                                <li class="com__reply">
                                                                    <a href="#dle-comments-form">
                                                                        <svg width="24" height="24"
                                                                             class="{{ comment.user }}-{{ comment.id }}">
                                                                            <use class="{{ comment.user }}-{{ comment.id }}"
                                                                                 xlink:href="#i__reply"></use>
                                                                        </svg>
                                                                    </a></li>
                                                                <li class="com__edit"></li>
                                                                <li class="com__del"></li>
                                                                <li class="com__spam"></li>
                                                            </ul>
                                                        {% endif %}
                                                        {% if not comment.user.is_staff %}
                                                            <div class="com-likes">
                                                                <a href="#" class="{{ comment.id }}" data-action="like">
                                                                <span class="{{ comment.id }} com-like-plus">
                                                                    <svg width="24" height="24"
                                                                         class="{{ comment.id }}">
                                                                        <use xlink:href="#i__thumbup"
                                                                             class="{{ comment.id }}"></use>
                                                                    </svg>

                                                                    <span class="{{ comment.id }} {{ comment.id }}-com-like-count">
                                                                        {{ comment.appscommentslikemodel_set.count }}
                                                                    </span>
                                                                    +
                                                                </span>

                                                                </a>
                                                                <a href="#" class="{{ comment.id }} com-like-minus"
                                                                   data-action="dislike">
                                                                <span class="{{ comment.id }} com-dislike-minus">
                                                                    <svg class="{{ comment.id }}" width="24"
                                                                         height="24">
                                                                        <use class="{{ comment.id }}"
                                                                             xlink:href="#i__thumbdown"></use>
                                                                    </svg>
                                                                    <span class="{{ comment.id }} {{ comment.id }}-com-dislike-count">
                                                                        {{ comment.appscommentsdislikemodel_set.count }}
                                                                    </span>
                                                                    -
                                                                </span>

                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <ol class="comments-tree-list">
                                            {% for sub_comment in comment.appscommentsmodel_set.all %}
                                                {% if sub_comment.is_active %}
                                                    <li id="{{ sub_comment.user }}-{{ sub_comment.id }}"
                                                        class="comments-tree-item">
                                                        <div>
                                                            <div class="comment {% if sub_comment.user.is_staff %} add-comm

                                                                {% else %}{% if sub_comment.appscommentslikemodel_set.count == sub_comment.appscommentsdislikemodel_set.count %} {% elif sub_comment.appscommentslikemodel_set.count >= sub_comment.appscommentsdislikemodel_set.count %}pos-comm{% else %}neg-comm{% endif %} {% endif %}"
                                                                 id="comment-{{ sub_comment.id }}">
                                                                <div class="comment-head">
                                                                    <div class="avatar-status">
                                                                        <i class="avatar fit-cover">
                                                                            <a href="{% url 'public_profile_page' sub_comment.user.username %}"><img
                                                                                    {% if sub_comment.user.avatar %}
                                                                                        src="{{ sub_comment.user.avatar.image.url }}"
                                                                                    {% else %}
                                                                                        src="{% static 'images/noavatar.webp' %}"
                                                                                    {% endif %}
                                                                                        alt="MagaDja"
                                                                                        loading="lazy"></a>
                                                                        </i>
                                                                    </div>
                                                                    <span class="name truncate">
                                                                    <a href="{% url 'public_profile_page' sub_comment.user.username %}">{{ sub_comment.user.username }}</a></span>
                                                                    <div class="comment-meta">
                                                                        {% if sub_comment.user.is_staff %}
                                                                            <span class="group-label g-user">مدیر</span>
                                                                        {% else %}
                                                                            <span class="group-label g-user">عضو</span>
                                                                        {% endif %}
                                                                        <time class="date c-muted"
                                                                              datetime="2024-03-26T20:21">
                                                                            {{ sub_comment.send_date }}
                                                                        </time>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-text">
                                                                    <div id="comm-id-207005">
                                                                        {{ sub_comment.text }}
                                                                    </div>
                                                                </div>

                                                                <div class="comment-foot">
                                                                    {% if user.is_authenticated %}
                                                                        <ul class="comment-tools">
                                                                            <li class="com__reply">
                                                                                <a href="#dle-comments-form">
                                                                                    <svg width="24" height="24"
                                                                                         class="{{ sub_comment.user }}-{{ sub_comment.id }}">
                                                                                        <use class="{{ sub_comment.user }}-{{ sub_comment.id }}"
                                                                                             xlink:href="#i__reply"></use>
                                                                                    </svg>
                                                                                </a>
                                                                            </li>
                                                                            <li class="com__edit"></li>
                                                                            <li class="com__del"></li>
                                                                            <li class="com__spam"></li>
                                                                        </ul>
                                                                    {% endif %}
                                                                    {% if not sub_comment.user.is_staff %}
                                                                        <div class="com-likes">
                                                                            <a href="#" class="{{ sub_comment.id }}"
                                                                               data-action="like">
                                                                        <span class="{{ sub_comment.id }} com-like-plus">
                                                                            <svg width="24" height="24"
                                                                                 class="{{ sub_comment.id }}">
                                                                                <use xlink:href="#i__thumbup"
                                                                                     class="{{ sub_comment.id }}"></use>
                                                                            </svg>

                                                                            <span class="{{ sub_comment.id }} {{ sub_comment.id }}-com-like-count">
                                                                                {{ sub_comment.appscommentslikemodel_set.count }}
                                                                            </span>
                                                                            +
                                                                        </span>

                                                                            </a>
                                                                            <a href="#"
                                                                               class="{{ sub_comment.id }} com-like-minus"
                                                                               data-action="dislike">
                                                                        <span class="{{ sub_comment.id }} com-dislike-minus">
                                                                            <svg class="{{ sub_comment.id }}" width="24"
                                                                                 height="24">
                                                                                <use class="{{ sub_comment.id }}"
                                                                                     xlink:href="#i__thumbdown"></use>
                                                                            </svg>
                                                                            <span class="{{ sub_comment.id }} {{ sub_comment.id }}-com-dislike-count">
                                                                                {{ sub_comment.appscommentsdislikemodel_set.count }}
                                                                            </span>
                                                                            -
                                                                        </span>

                                                                            </a>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <ol class="comments-tree-list">
                                                        {% for sub_sub_comment in sub_comment.appscommentsmodel_set.all %}
                                                            {% if sub_sub_comment.is_active %}
                                                                <li id="comments-tree-item-{{ sub_sub_comment.id }}"
                                                                    class="comments-tree-item">
                                                                    <div id="comment-id-207005">
                                                                        <div class="comment {% if sub_sub_comment.user.is_staff %} add-comm

                                                                            {% else %}{% if sub_sub_comment.appscommentslikemodel_set.count == sub_sub_comment.appscommentsdislikemodel_set.count %} {% elif sub_sub_comment.appscommentslikemodel_set.count >= sub_sub_comment.appscommentsdislikemodel_set.count %}pos-comm{% else %}neg-comm{% endif %} {% endif %}"
                                                                             id="comment-{{ sub_sub_comment.id }}">
                                                                            <div class="comment-head">
                                                                                <div class="avatar-status">
                                                                                    <i class="avatar fit-cover">
                                                                                        <a href="{% url 'public_profile_page' sub_sub_comment.user.username %}"><img
                                                                                                {% if sub_sub_comment.user.avatar %}
                                                                                                    src="{{ sub_sub_comment.user.avatar.image.url }}"
                                                                                                {% else %}
                                                                                                    src="{% static 'images/noavatar.webp' %}"
                                                                                                {% endif %}
                                                                                                    alt="MagaDja"
                                                                                                    loading="lazy">
                                                                                        </a>
                                                                                    </i>
                                                                                </div>
                                                                                <span class="name truncate">
                                                                                <a href="{% url 'public_profile_page' sub_sub_comment.user.username %}">{{ sub_sub_comment.user.username }}</a>
                                                                            </span>
                                                                                <div class="comment-meta">
                                                                                    {% if sub_sub_comment.user.is_staff %}
                                                                                        <span class="group-label g-user">مدیر</span>
                                                                                    {% else %}
                                                                                        <span class="group-label g-user">عضو</span>
                                                                                    {% endif %}
                                                                                    <time class="date c-muted"
                                                                                          datetime="2024-03-26T20:21">
                                                                                        {{ sub_sub_comment.send_date }}
                                                                                    </time>
                                                                                </div>
                                                                            </div>
                                                                            <div class="comment-text">
                                                                                <div id="comm-id-207005">
                                                                                    {{ sub_sub_comment.text }}
                                                                                </div>
                                                                                {% if not sub_sub_comment.user.is_staff %}
                                                                                    <div class="com-likes">
                                                                                        <a href="#"
                                                                                           class="{{ sub_sub_comment.id }}"
                                                                                           data-action="like">
                                                                                    <span class="{{ sub_sub_comment.id }} com-like-plus">
                                                                                        <svg width="24" height="24"
                                                                                             class="{{ sub_sub_comment.id }}">
                                                                                            <use xlink:href="#i__thumbup"
                                                                                                 class="{{ sub_sub_comment.id }}"></use>
                                                                                        </svg>
                                                                                    
                                                                                        <span class="{{ sub_sub_comment.id }} {{ sub_sub_comment.id }}-com-like-count">
                                                                                            {{ sub_sub_comment.appscommentslikemodel_set.count }}
                                                                                        </span>
                                                                                        +
                                                                                    </span>

                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="{{ sub_sub_comment.id }} com-like-minus"
                                                                                           data-action="dislike">
                                                                                    <span class="{{ sub_sub_comment.id }} com-dislike-minus">
                                                                                        <svg class="{{ sub_sub_comment.id }}"
                                                                                             width="24" height="24">
                                                                                            <use class="{{ sub_sub_comment.id }}"
                                                                                                 xlink:href="#i__thumbdown"></use>
                                                                                        </svg>
                                                                                        <span class="{{ sub_sub_comment.id }} {{ sub_sub_comment.id }}-com-dislike-count">
                                                                                            {{ sub_sub_comment.appscommentsdislikemodel_set.count }}
                                                                                        </span>
                                                                                        -
                                                                                    </span>

                                                                                        </a>
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ol>
                                                {% endif %}

                                            {% endfor %}
                                        </ol>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        {% if comments.has_other_pages %}
                            <div class="wrp-min">
                                <div class="navigation">
                                    {% if comments.has_previous %}
                                        <span class="page_prev">
                                <a href="?page={{ comments.previous_page_number }}">
                                    <svg width="24" height="24">
                                        <use xlink:href="#i__arrowright"></use>
                                    </svg>
                                </a>
                            </span>
                                    {% else %}
                                        <span class="page_prev">
                                <span>
                                    <svg width="24" height="24">
                                        <use xlink:href="#i__arrowright"></use>
                                    </svg>
                                </span>
                            </span>
                                    {% endif %}
                                    <div class="pages">
                                        <nav class="pages-list">
                                            {% if comments.paginator.num_pages > 1 %}
                                                {% if comments.number|add:'-5' >= 1 %}
                                                    <a href="?page=1" class="page-link">1</a>
                                                    {% if comments.number|add:'-5' > 1 %}
                                                        <span class="nav_ext">...</span>
                                                    {% endif %}
                                                {% endif %}
                                                {% for num in comments.paginator.page_range %}
                                                    {% if comments.number == num %}
                                                        <span>{{ num }}</span>
                                                    {% elif num > comments.number|add:'-5' and num < comments.number|add:'5' %}
                                                        <a href="?page={{ num }}">{{ num }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if comments.number|add:'5' <= comments.paginator.num_pages %}
                                                    {% if comments.number|add:'5' < comments.paginator.num_pages %}
                                                        <span class="nav_ext">...</span>
                                                    {% endif %}
                                                    <a href="?page={{ comments.paginator.num_pages }}">{{ comments.paginator.num_pages }}</a>
                                                {% endif %}
                                            {% endif %}
                                        </nav>
                                    </div>
                                    {% if comments.has_next %}
                                        <span class="page_next">
                            <a href="?page={{ comments.next_page_number }}">
                                <svg width="24" height="24">
                                    <use xlink:href="#i__arrowleft"></use>
                                </svg>
                            </a>
                        </span>
                                    {% else %}
                                        <span class="page_next">
                            <span>
                                <svg width="24" height="24">
                                    <use xlink:href="#i__arrowleft"></use>
                                </svg>
                            </span>
                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                {% else %}
                    <div class="b-cont">
                        <div class="info-line">
                            <i class="info-line-icon c-blue">
                                <svg width="24" height="24">
                                    <use xlink:href="#i__info"></use>
                                </svg>
                            </i>
                            <span>هنوز نظری وجود ندارد، اما شما می توانید اولین نظر را ثبت کنید!</span>
                        </div>
                        <div id="dle-ajax-comments"></div>
                    </div>
                {% endif %}


            </div>

            {% if user.is_authenticated %}
                <div id="dle-comments-form">
                    <div class="anchor-line"><span id="addcom-block"></span></div>
                    <div id="addcomment" class="block b-add-comments ignore-select">
                        <div class="b-head">
                            <h3 class="section-title"><i class="s-green c-icon">
                                <svg width="24" height="24">
                                    <use xlink:href="#i__addcom"></use>
                                </svg>
                            </i>نظر خود را بنویسید
                            </h3>
                        </div>
                        <div class="b-cont">
                            <div class="form-group" id="comment-editor">
                                <div class="d-flex">
                                    <div class="message">

                                    </div>
                                    <span class="d-none text-danger" id="cancel-reply">لغو</span>
                                </div>
                                <label class="c-muted" for="comments">متن نظر</label>
                                <div class="bb-editor">
                                    <textarea name="comments" id="comments" cols="70" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button class="btn btn-block s-green" type="submit" name="submit">ارسال</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </article>
    <section class="wrp section section-related">
        <div class="section-head">
            <h3 class="section-title">
                <i class="s-blue c-icon">
                    <svg width="24" height="24">
                        <use xlink:href="#i__explore"></use>
                    </svg>
                </i>
                پیشنهاد ها
            </h3>
            <a class="btn s-green btn-all" href="{% url 'softwares_category' cat_link.main_caregory.slug %}">
                <span>همه</span>
                <svg width="24" height="24">
                    <use xlink:href="#i__arrowleft"></use>
                </svg>
            </a>
        </div>
        <div class="entry-list list-c6">
            {% for suggestion in suggestions %}
                <div class="entry entry-app">
                    <div class="item">
                        {% if suggestion.is_update %}
                            <span class="label label-up">آپدیت</span>
                        {% endif %}
                        {% if suggestion.is_online %}
                            <span class="label label-up left">آنلاین</span>
                        {% endif %}
                        {% if suggestion.is_new %}
                            <span class="label label-up left bottom">جدید</span>
                        {% endif %}
                        {% if suggestion.is_free %}
                            <span class="label label-free right free">رایگان</span>
                        {% endif %}
                        <figure class="img">
                            <img src="{{ suggestion.icon.url }}" alt="{{ suggestion.title }}" width="112" height="112"/>
                            {% if suggestion.is_mod %}
                                <span class="post__modpaid">مود</span>
                            {% endif %}
                        </figure>
                        <h2 class="title">
                            <a class="item-link" href="{% url 'game_detail' suggestion.slug %}"
                            ><span>{{ suggestion.title }}</span></a
                            >
                        </h2>
                        <span class="genre truncate"
                        ><a
                                href="{% url 'softwares_category' suggestion.main_caregory.slug %}"
                                rel="tag"
                        >{{ suggestion.main_caregory }}</a
                        ></span
                        >
                        <ul class="entry-app-info">
                            <li>
                                <svg width="24" height="24">
                                    <use xlink:href="#i__android"></use>
                                </svg>
                                <span class="truncate">{{ suggestion.android_version }}</span>
                            </li>
                            <li>
                                <svg width="24" height="24">
                                    <use xlink:href="#i__vers"></use>
                                </svg>
                                <span class="truncate">{{ suggestion.download_count }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
    <script>
        const plus = Number(document.querySelector('.like-plus').querySelector('span').textContent);
        const minus = Number(document.querySelector('.like-minus').querySelector('span').textContent);
        const sum = plus + minus
        if (sum != 0) {
            document.querySelector('.rating_progress_bar').querySelector('b').textContent = `محبوبیت ${Math.round((plus / sum) * 100)}%`;
            document.querySelector('.rating_progress_bar').querySelector('span').style.width = `${Math.round((plus / sum) * 100)}%`;
            document.querySelector('#vote-num-id-11').textContent = sum;
        }
    </script>

{% endblock %}


{% block script %}
    <script src="{% static 'js/notyf.min.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}